<!DOCTYPE html>
<html lang="en">

{% include 'layout/header.html' %}

{% load static %}

<body>

{% include 'layout/navigation.html' %}

<div class="container p-3 my-3 bg-dark text-white">
    <div class="container">
        <h2 style="margin: 15px;">E-Bay Card Search</h2>
        <div class="card">
            <div class="card-body">
                <form>
                    {% csrf_token %}
                    <div class="row text-dark" style="margin: 15px">
                        <div class="col-sm-2">Search:</div>
                        <div class="col-sm-8">
                            <input type="text" name="keywords" id="id_keyword" class="form-control"
                                   placeholder="Michael Jordon" required>
                        </div>
                    </div>
                    <div class="row text-dark" style="margin: 15px">
                        <div class="col-sm-2">E-Bay Store:</div>
                        <div class="col-sm-8">
                            <input type="text" name="keywords" id="id_store" class="form-control"
                                   placeholder="probstein123, pwcc_auctions (Currently Defaults to probstein123 for prototyping)"
                                   required>
                        </div>
                    </div>
                    <div class="row text-dark" style="margin: 15px">
                        <div class="col-sm-2"></div>
                        <div class="col-sm-8">
                            <div class="dropdown">
                                <button type="button" class="btn btn-primary dropdown-toggle" id="id_cat"
                                        data-toggle="dropdown">
                                    All Categories
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="#">Baseball</a>
                                    <a class="dropdown-item" href="#">Basketball</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row text-dark" style="margin: 15px">
                        <div class="col-sm-2"></div>
                        <div class="col-sm-8">
                            <div class="dropdown">
                                <button type="button" class="btn btn-primary dropdown-toggle" id="id_pages"
                                        data-toggle="dropdown">
                                    Number of Pages to Return
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="#">10</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row text-dark" style="margin: 15px">
                        <div class="col-sm-2"></div>
                        <div class="col-sm-8">
                            <div class="dropdown">
                                <button type="button" class="btn btn-primary dropdown-toggle" id="id_pages"
                                        data-toggle="dropdown">
                                    Grades
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="#">10</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row text-dark" style="margin: 15px">
                        <div class="col-sm-2"></div>
                        <div class="col-sm-8"></div>
                    </div>
                    <div class="row text-dark" style="margin: 15px">
                        <div class="col-sm-2"></div>
                        <div class="col-sm-8">
                            <button id="search" type="button" style="width: 100%"
                                    onclick="call_excel();"
                                    class="btn btn-fill btn-info btn-lg">Search
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>