
<div class="jumbotron text-center bg-dark text-white">
  <h1>E-Bay to Excel</h1>
  <p>Query E-Bay data and retrieve it as an excel file!</p>
</div>

<nav class="navbar navbar-expand-sm bg-light">

{#  <!-- Links -->#}
{#  <ul class="navbar-nav" style="align-content: center">#}
{#    <li class="nav-item">#}
{#      <a class="nav-link" href="#">Link 1</a>#}
{#    </li>#}
{#    <li class="nav-item">#}
{#      <a class="nav-link" href="#">Link 2</a>#}
{#    </li>#}
{#    <li class="nav-item">#}
{#      <a class="nav-link" href="#">Link 3</a>#}
{#    </li>#}
{#  </ul>#}

</nav>